* {
	margin: 0%;
	padding: 0%;
}

body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
	font-size: 6em;
}

nav {
	font-size: 1.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2vh 1vw;
}

ul,
li {
	display: inline;
	margin: 0;
	padding: 0%;
}

ul {
	border: 1px solid red;
	flex: 1;
	max-width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* @media (min-width:500px) and (max-width: 800px){
	h1{
		color: red;
	}
} */

@media (min-width:50px) {
	h1 {
		color: red;
	}
}

/* until screen width's is atleast 500px set color green */
@media (min-width:500px) {
	h1 {
		color: green;
	}
}

@media (min-width:1000px) {
	h1 {
		color: rgb(174, 219, 9);
	}
}

@media (landscape:landscape) {
	body {
		background-color: aqua;
	}
}

@media (max-width:762px) {
	h1 {
		font-size: 4em;
	}

	nav,
	ul {
		flex-direction: column;
	}
}

@media (max-width:576px) {
	h1 {
		font-size: 3em;
	}
}