<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" href="/style.css">
	<!-- <link rel="stylesheet" href="public/style.css"> won't work as our handler which serves public folder as public handles all request to acess these files. -->
</head>