a {
	text-decoration: none;
}

a:hover {
	background-color: red;
	text-decoration: underline;
}

button:hover {
	background-color: red;
}

button:active {
	background-color: green;
}

p:nth-of-type(3n) {
	background-color: red;
}