<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/header.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>
	<h1>create your own new blog</h1>
	<h2>share your memories now!</h2>
	<%- include('./partials/footer.ejs') %>
</body>
</html> 