<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>
			<main class="form-main">
				<h1>create your own new blog</h1>
				<h2>share your memories now!</h2>
				<form action="/blogs" method="post" id="new-blog-form">
					<label for="title">Title</label>
					<input type="text" id="title" name="title" placeholder="Enter title here" required> <!-- name attribute for accessing data in backend.-->
					<label for="snippet">Add blog text</label>
					<input type="text" id="snippet" name="snippet" placeholder="Write blog here." required>
					<label for="body">Add blog body.</label>
					<input type="text" id="body" name="body" required>
					<button>submit</button>
				</form>
			</main>
			<%- include('./partials/footer.ejs') %>
	</body>

</html>